<h1> Edit your recipe!</h1>

<%= form_for @recipe do |f| %>
  <%=f.label :name, "Name" %>
  <%=f.text_field :name %>
  <br>
  <%=f.label :instructions, "Instructions" %>
  <%=f.text_area :instructions %>
  <br>
  <%=f.label :cooktime, "Cook Time" %>
  <%=f.text_field :cooktime %>
  <br>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>

  <%= f.fields_for :ingredients, @ingredient do |ingredient_fields| %>
  <br>
  <div class = >
     <%= ingredient_fields.label :name, "Ingredient" %>
     <%= ingredient_fields.text_field :name %>
  <% end %>

  <%=f.submit%>

<%end%>
