<h1> Recipe for <%=@recipe.name%></h1>

<h4>Recipe Instructions: <%=@recipe.instructions%></h4>
<h4>Cook Time: <%=@recipe.cooktime%></h4>
</ul>
<h4> Ingredients: </h4>

<% @ingredients.each do |ingredient|%>
  <li><%=ingredient.name %></li>
<%end%>
</ul>
<%=link_to "Ingredients", ingredients_path(@ingredients)%>
<br>
<%=link_to "Delete Recipe", recipe_path(@recipe), :method => "delete" %>
<br>
<%=link_to "Edit Recipe", edit_recipe_path(@recipe) %>
<br>
<%=link_to "All Recipes", recipes_path %>
<br>
