<h1> Recipe for <%=@recipe.name%></h1>

<h4>Recipe Instructions: <%=@recipe.instructions%></h4>
<h4>Cook Time: <%=@recipe.cooktime%></h4>
</ul>
<h4> Ingredients: </h4>

<% @ingredients.each do |ingredient|%>
  <li><%=ingredient.name %></li>
<%end%>
</ul>
<%=link_to "Ingredients", ingredients_path(@ingredients)%>
<br>
<%=link_to "Delete Recipe", user_recipe_path(current_user, @recipe), :method => "delete" %>
<br>
<%=link_to "Edit Recipe", edit_user_recipe_path(@recipe, current_user) %>
<br>
<%=link_to "All Recipes", user_recipes_path %>
<br>
