<h1> Welcome to the CookBook!</h1>

  <% if !user_signed_in? %>
    <%=link_to "Sign Up", new_user_registration_path %>
    <%=link_to "Sign In", user_session_path %>
  <%else%>
    <h1> Welcome <%=current_user.email%>!</h1>
    <%=link_to "View Recipes", recipes_path %>
    <%=link_to "Add A Recipe", new_recipe_path %>
  <%end%>
